<button class="btn btn-primary mb20" disabled="disabled" ><%= labels(:edit) %></button>
<button class="btn btn-primary mb20" disabled="disabled" ><%= labels(:activity_requests)+ "(#{@activity.activity_requests.undeal.count})" %></button>
<button class="btn btn-primary mb20" disabled="disabled" ><%= labels(:close) %></button>
